<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
<dict>
  <key>host</key>
  <string>https://rsoares.us.demos.redhatmobile.com</string>
  <key>appid</key>
  <string>wq5aeeno6rltjifvsfngaqgq</string>
  <key>projectid</key>
  <string>wq5aeekuvzqagz4ymcassv5r</string>
  <key>appkey</key>
  <string>618077b88d96092473570a01921244ddd68e4952</string>
  <key>connectiontag</key>
  <string>0.0.3</string>
</dict>
</plist>
